<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZpOptimizerUI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ZpOptimizerUI.Settings1>
            <setting name="defaultFolder" serializeAs="String">
                <value>G:\steam\steamapps\common</value>
            </setting>
            <setting name="locationList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\Program Files (x86)\Steam\Steamapps\common</string>
                        <string>C:\Program Files (x86)\Ubisoft\Ubisoft Game Launcher\games</string>
                        <string>C:\Program Files (x86)\Origin Games</string>
                        <string>C:\Program Files (x86)\GalaxyClient\Games</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ZpOptimizerUI.Settings1>
    </userSettings>
</configuration>